/*
 * Стили для кнопки-звёздочки
 */

@import "../variables/colors";

.asterisk {

  /* Turn off Button */

  padding: 0;

  color: $main-red-color;

  background: transparent;
  border: none;

  &--animated {
    animation: rotation 2s infinite linear;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}
